.main {
  .container {
    padding: 30px 0;
    height: 100%;
    display: grid;
    grid-template-columns: 19% 79%;

    @include tablets {
      grid-template-columns: 100%;
    }
  }
  .maincontent {
    padding-left: 30px;
    @include tablets {
      padding-left: 0;
    }
  }
}