
.catalogues {
}

.catalogues__list {
  display: flex;
  overflow: auto;
}

.catalogue__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }

}
.catalogue__item-img {
  max-width: 200px;
  border: 1px solid rgba($color: #000000, $alpha: 0.2);
  padding: 10px;
}
.catalogue__item-btn {
  display: flex;
  flex: 1;
  margin-bottom: 10px;
}
.catalogue__item-title {
  text-align: center;
}


///Стилизация слайдера каталога

//Стилизация дисплея номера активного слайда
.catalogues__slider-wrapper {
  display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: .8);
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%; 
    z-index: 10;
}
.catalogues__slider  {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 6px;
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);

  width: 45%;
  min-width: 650px;
  padding: 20px;

  @include tablets {
    width: 90%;
    min-width: 470px;
  }
  @include phones {
    width: 95%;
    min-width: initial;
  }
}

.catalogue__slider-diplay-input {
  border: none; 
  width: 12.5rem;
  text-align: center;
  padding: 20px;
  outline: none;
  background-color: white;
  font-weight: bold;

  transition: background-color 0.5s;
  &:focus {
    color: white;
    background-color: rgb(90, 87, 87);
  }
  
}
.catalogue__slider-cls-btn {
  display: block;
}
.catalogue__slider-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  .logo {
    width: 9.5rem;
    height: 2.0625rem;
  }
}
.catalogue__slider-body {
  position: relative;
  display: flex;
}
.catalogue__slider-footer {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  left: 0;
  z-index: 20;
  background-color: rgb(255, 255, 255);
  height: 18%;
  width: 100%;
  padding-top: 3%;
    
}
.catalogue__slider-buttons {
  display: flex;
  flex: 1;
}
.catalogue__slider-first-btn, 
.catalogue__slider-last-btn, 
.catalogue__slider-next-btn, 
.catalogue__slider-prev-btn {
  display: flex;
  justify-content: center;
  flex: 1;
}
.catalogue__slider-nav-btn-svg {
  
  width: 30px;
  height: 50px;

}



.swiper-container_cat { 
  overflow: hidden;
  max-width: 100%;
  box-shadow: 0 0 25px rgba(0,0,0,0.5);

}

.swiper-slide {
  display: flex;
  max-width: 100%;
}
.catalogues__slider-item-col {
  width: 50%;
}

.catalogue__slider-item-img {
  max-width: 100%;
}