.catalogues__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;
}

.catalogue__item {
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }
}
.catalogue__item-img {
  max-width: 200px;
  border: 1px solid rgba($color: #000000, $alpha: 0.2);
  padding: 10px;
}

.catalogue__item-title {
  text-align: center;
}


///Стилизация слайдера каталога
.catalogues__slider  {
  display: flex;
}

.catalogue__slider-buttons {
  display: flex;
  flex-direction: column;
}

.catalogues__slider-nav-btn-svg {
  cursor: pointer;
  width: 45px;
  height: 75px; 
}
.catalogues__slider-first-btn, .catalogues__slider-last-btn {
  
}

.swiper-container_cat { 
  overflow: hidden;
}
.swiper-slide {
  display: flex;
}
.catalogue__slider-item-col {
  max-width: 50%;
}

.catalogue__slider-item-img {
  max-width: 100%;
}