.logo {
  display: block;
  width: 13.75rem;
  height: 3.5rem;
  
  
  &__svg {
    width: 100%;
    height: 100%;
    fill: url("#avon_logo_gradient");
    stroke-width: .5px;
    stroke: white;
    
    &:hover {
      fill: url("#avon_logo_gradient_hover");
    }
  }

  @include tablets {
    width: 194px;
    height: 49px;
  }
}