
.form__label{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  &--horiz {
    flex-direction: row;
    align-items: center;
  }
}

.form__label-title {
  margin-bottom: 5px;
  &:after {
    content: '*';
    color: red;
    font-size: 13px;
    vertical-align: top;
  }

  &--not-req{
    &::after {
      content: "";
    }
  }
}

.form__row-top {
  display: flex;
  margin-bottom: 20px;
}
.form__row-middle {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.form__row-bottom {
  display: flex;
  justify-content: space-around;
  
}



.form__col-left {
  margin-right: 50px;
  @include tablets {
    margin-right: 35px;
  }
  @include phones {
    margin-right: 20px;
  }
}
.form__col-right {
  flex: 1;
}

.form__select-date {
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}
.form__input-checkbox {
  margin-right: 10px;
  @include phones{
    margin-right: 5px;
  }
}

.privacy-link {
  &::after {
    content: '*';
    font-size: 13px;
    color: red;
    vertical-align: top;

  }
}