.sidebar {
  padding-right: 1.875rem;
  border-right: 1px solid #e8e8ec;

  .contacts {
    display: none;
    
    &__two {
      @media screen and (max-width: 630px) {
        justify-content: flex-start;
      }
    }
  }

  @include tablets {
    position: fixed;
    top: 0;
    right: -100%;
    transition: right .3s;
    border-right: none;
    border-left: 1px solid #e8e8ec;;
    background-color: #fff;
    padding: 200px 65px 100px 65px;

    &--active {
      right: 0;
    }

    .contacts {
      display: initial;
      color: $lightBlue;
    }
  }

  @include phones {
    width: 100vw;
    height: 100vh;
    padding: 150px 100px 0 100px;
  }
}

.clsbtn {
  display: none;
  position: absolute;
  top: 47px;
  right: 25px;

  @include tablets {
    display: initial;
  }
}
.clsbtn-svg {
  width: 25px;
  height: 25px;
}