extends ../layout/layout.pug

block title
  title Каталог Avon

block nav
  +nav('nav', items, 5)

block content
  
  .catalogues
    h1.title Выберите каталог для просмотра

    ul.catalogues__list
    
          
        
        

block subScripts
  script(src='./sub-scripts/catalogue.js')