extends ../layout/layout.pug

block title
  title Каталог Avon

block nav
  +nav('nav', items, 5)

block content
  .catalogues__slider-wrapper
    .catalogues__slider
      .catalogue__slider-header 
        a.logo(href='./index.html')
          svg.logo__svg
            use(xlink:href='./images/icons/sprite.svg#avon_logo')
        a.catalogue__slider-cls-btn(href="#")
            svg.clsbtn-svg
              use(xlink:href='./images/icons/sprite.svg#clsBtn')
      .catalogue__slider-body
        .swiper-container_cat
          ul.catalogues__slider-list.swiper-wrapper#catalogueSliderList
            //- li.catalogues__slider-item.swiper-slide
            //-   .catalogues__slider-item-col
            //-     img.catalogue__slider-item-img(src="./images/catalogue/Core_DD_week_4/Core_DD_week_4_1.jpg", alt="Каталог 2 2021") 
            //- li.catalogues__slider-item.swiper-slide
            //-   .catalogues__slider-item-col
            //-     img.catalogue__slider-item-img(src="./images/catalogue/Core_DD_week_4/Core_DD_week_4_2.jpg", alt="Каталог 2 2021") 
        .catalogue__slider-footer
          .catalogue__slider-buttons
            a(href='#').catalogue__slider-first-btn
              svg.catalogue__slider-nav-btn-svg
                use(xlink:href='./images/icons/sprite.svg#arrow-first')
            a(href='#').catalogue__slider-prev-btn
              svg.catalogue__slider-nav-btn-svg
                use(xlink:href='./images/icons/sprite.svg#arrow-previous')
          .catalogue__slider-display
            input.catalogue__slider-diplay-input(type="text", name="input-slide-page", value= '/')
          .catalogue__slider-buttons
            a(href='#').catalogue__slider-next-btn
              svg.catalogue__slider-nav-btn-svg
                  use(xlink:href='./images/icons/sprite.svg#arrow-next')
            a(href='#').catalogue__slider-last-btn 
              svg.catalogue__slider-nav-btn-svg
                  use(xlink:href='./images/icons/sprite.svg#arrow-last')


block subScripts
  script(src='./sub-scripts/catalogue_slider.js')