extends ../layout/layout.pug

block nav
  +nav('nav', items, 1)

block content
  .banner
    img.banner__img(src="./images/banner.jpg", alt="Баннер на главной странице")
  .welcome
    h1.welcome__title.title Добро пожаловать!
    article.welcome__content
      p Меня зовут Пронина Екатерина, я являюсь менеджером компании Oriflame.
      

