extends ../layout/layout.pug

block title
  title Регистрация в Oriflame

block nav
  +nav('nav', items, 2)

block content
  h1.title Регистрация в Oriflame
  
  
  form.reg-form(action="#")
    label.form__label
      .form__label__title Фамилия
      input(type="text", name="sername")
    label.form__label
      .form__label__title Имя Отчество
      input(type="text", name="name")
    label.form__label
      .form__label__title Email
      input(type="email", name="email")

