.header {
  background-color: $lightBlue;
  color: white;
  padding: 20px 0;
  .container {
    display: flex;
    justify-content: space-between;

    @include phones {
      
    }
  }

  .logo {
    margin-bottom: 10px;
  }
  // &__middle {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   text-align: center;
  //   line-height: 1.2;

  //   @include phones {
  //     display: none;
  //   }
  // }
  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &__right {
    display: flex;
    align-items: center;
  }

  .contacts {
    @include tablets {
      display: none;
    }
  }
}

.header__title {
  font-weight: 300;
  font-size: 14px;
}

// .title {
//   font-size: 1.875rem;
//   font-weight: normal;
//   font-style: italic;
//   &-name {
//     font-size: 1.5625rem;
//     font-weight: normal;
//     font-style: italic;
//   }
// }

.contacts {
  &__one {
    margin-bottom: 10px;
    @media screen and (max-width: 630px) {
      margin-bottom: 20px;
    }
  }
  &__two {
    display: flex;

    @media screen and (max-width: 630px) {
      justify-content: center;
    }
    
  }
}

.phone {
  font-size: 1.75rem;
  font-weight: bold;
  transition: color .2s;
  
  @include tablets {
    font-size: 24px;
  }
  &:hover {
    color: $dark;
  }
}