
.socials {
  display: flex;
}
.socials__item{
  border-radius: 50% 50%;
  overflow: hidden;
  margin-right: 20px;
  color: $lightBlue;
  transition: color .2s;

  &:hover {
    color: $dark;
  }
  &:last-child {
    margin-right: 0;
  }
  &-link {
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    
    background-color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 0;

    @media screen and (max-width: 630px) {
      width: 3.5rem;
      height: 3.5rem;
    }
  }
  &-svg {
    width: 60%;
    height: 60%;
    fill: currentColor;
  }
}