//Settings
@import './settings/normalize';
@import './settings/vars';
@import './settings/mixins';
@import './settings/base';


//Components
@import './components/socials';
@import './components/header';
@import './components/hamburger';
@import './components/footer';
@import './components/body';
@import './components/logo';
@import './components/sidebar';
@import './components/navigation';
@import './components/welcome';
@import './components/suggestions';
@import './components/registration';